<div class="memory main">
  <div class="header">
    <app-menu></app-menu>
    <h1 class="center">Ma mémoire !</h1>
  </div>

  <section>
    <article class="mem" *ngIf="memoryService.saved.length === 0">
      J'ai perdu la mémoire ! Ce doit être une amnésie temporaire.
      Peut être qu'en cherchant bien, je vais réussir à retrouver la mémoire.
    </article>
    <article class="mem" *ngFor="let fragment of memoryService.saved"
    (click)="fragment.isOpened = !fragment.isOpened">
      <div class="mem-title" [innerHTML]="fragment.title"></div>
      <div class="mem-body" [innerHTML]="fragment.details | replace:memoryService.people" *ngIf="fragment.isOpened"></div>
    </article>

    <div class="bottom">
      <a class="button search-bg" href="#/search">Chercher un souvenir</a>
    </div>

  </section>
</div>
