<div class="search main">
  <div class="header">
    <app-menu></app-menu>
    <h1 class="center">Creuse toi la tête, ça va te revenir !</h1>
  </div>


  <section>
    <p class="description">Rentre un mot issus
      de ton passé, peut-être qu'un souvenir te reviendras</p>
    <textarea [ngModel]="words" (ngModelChange)="onChange($event)"></textarea>
    <div class="description" *ngIf="fragments.length === 0 && hasTxt">Continue à chercher</div>
    <div *ngFor="let fragment of fragments">
      <button  type="button" (click)="fragment.isOpened = !fragment.isOpened">{{fragment.title}}</button>
      <div class="mem-body" [innerHTML]="fragment.details | replace:memoryService.people" *ngIf="fragment.isOpened"></div>
    </div>

    <!-- <div class="bottom">
      <a class="bottom button memory-bg" href="#/memory">Ma mémoire </a>
    </div> -->
  </section>
</div>
