/* green */
$green: #2ecc71;
$green-50: #eafaf1;
$green-100: #d5f5e3;
$green-200: #abebc6;
$green-300: #82e0aa;
$green-400: #58d68d;
$green-500: #2ecc71;
$green-600: #28b463;
$green-700: #239b56;
$green-800: #1d8348;
$green-900: #186a3b;

/* Peter River */
$blue: #3498db;
$blue-50: #ebf5fb;
$blue-100: #d6eaf8;
$blue-200: #aed6f1;
$blue-300: #85c1e9;
$blue-400: #5dade2;
$blue-500: #3498db;
$blue-600: #2e86c1;
$blue-700: #2874a6;
$blue-800: #21618c;
$blue-900: #1b4f72;

/* purple */
$purple: #8e44ad;
$purple-50: #f4ecf7;
$purple-100: #e8daef;
$purple-200: #d2b4de;
$purple-300: #bb8fce;
$purple-400: #a569bd;
$purple-500: #8e44ad;
$purple-600: #7d3c98;
$purple-700: #6c3483;
$purple-800: #5b2c6f;
$purple-900: #4a235a;

/* yellow */
$yellow: #f1c40f;
$yellow-50: #fef9e7;
$yellow-100: #fcf3cf;
$yellow-200: #f9e79f;
$yellow-300: #f7dc6f;
$yellow-400: #f4d03f;
$yellow-500: #f1c40f;
$yellow-600: #d4ac0d;
$yellow-700: #b7950b;
$yellow-800: #9a7d0a;
$yellow-900: #7d6608;

/* orange */
$orange: #d35400;
$orange-50: #fbeee6;
$orange-100: #f6ddcc;
$orange-200: #edbb99;
$orange-300: #e59866;
$orange-400: #dc7633;
$orange-500: #d35400;
$orange-600: #ba4a00;
$orange-700: #a04000;
$orange-800: #873600;
$orange-900: #6e2c00;

/* red */
$red: #c0392b;
$red-50: #f9ebea;
$red-100: #f2d7d5;
$red-200: #e6b0aa;
$red-300: #d98880;
$red-400: #cd6155;
$red-500: #c0392b;
$red-600: #a93226;
$red-700: #922b21;
$red-800: #7b241c;
$red-900: #641e16;

/* gray */
$gray: #bdc3c7;
$gray-50: #f8f9f9;
$gray-100: #f2f3f4;
$gray-200: #e5e7e9;
$gray-300: #d7dbdd;
$gray-400: #cacfd2;
$gray-500: #bdc3c7;
$gray-600: #a6acaf;
$gray-700: #909497;
$gray-800: #797d7f;
$gray-900: #626567;
